<div class="card workday-planner">
  <div class="card-header workday-planner-head">
    Work Time Tracker
  </div>
  <div class="card-body">
    <h5 class="card-title">Start Time</h5>
    <app-time-entry [(time)]="startTime"></app-time-entry>

    <h5>Break Duration</h5>
    <app-time-block-entry [(block)]="breakDuration"></app-time-block-entry>

    <h5>Work Time</h5>
    <app-time-block-entry [(block)]="workTime"></app-time-block-entry>

    <div class="leave-time-display">
      <h5>Leave Time</h5>
      <h4>{{ leaveTime }}</h4>
    </div>

    <div class="text-center mt-2">
      <button class="btn btn-lg btn-primary btn-block" (click)="setDefaults()">Reset</button>
    </div>
  </div>
</div>
